@model EmailApp.Models.EmailMessageVM

@{
    ViewBag.Title = "Index";
}

<h2>Email</h2>


    @using (Html.BeginForm("Email", "Email", FormMethod.Post))
    {
        <p>
            To:
        </p>
        <p>
            @Html.TextBoxFor(m => m.ToEmail)
        </p>
        
        <p>
            Body:
        </p>
        <p>
            @Html.TextAreaFor(m=>m.Body)
        </p>
        <p>
            <button type="submit" class="btn btn-primary">Send Email</button> 
        </p>
    }
   